<form class="bottlecap-config">
  <ol class="bottlecap-settings-list">
    <li class="flexrow bottlecap-settings-item">
      <div class="bottlecap-settings-label">{{localize "BC.config.user"}}: </div>
      <select class="bottlecap-select-user" name="user">
        {{#each userData as |user|}}
          <option value="{{user.id}}">{{user.name}}</option>
        {{/each}}
      </select>
    </li>
    <li class="flexrow bottlecap-settings-item">
      <div class="bottlecap-settings-label">{{localize "BC.config.name"}}: </div>
      <input type="text" name="name" data-dtype="String" value="{{name}}">
    </li>
    <li class="flexrow bottlecap-settings-item">
      <div class="bottlecap-settings-label">{{localize "BC.config.icon"}}: </div>
      <div class="flexrow bottlecap-filepicker">
        <input type="text" name="img" value="{{img}}" data-dtype="String" >
        {{filePicker type="image" target="img"}}
      </div>
    </li>
    <li class="flexrow bottlecap-settings-item">
      <div class="bottlecap-settings-label">{{localize "BC.config.context"}}: </div>
      <input type="text" name="context" placeholder="{{localize "BC.config.contextPlaceholder"}}" value="{{context}}" data-dtype="String">
    </li>
  </ol>
  <button class="bottlecap-create-cap">
    {{#if isCreationDialog}}
      {{localize "BC.config.button.give"}}
    {{else}}
      {{localize "BC.config.button.update"}}
    {{/if}}
  </button>
</form>
