<form class="bottlecap-form">
    {{!-- Sheet Tab Navigation --}}
  <nav class="bottlecap-tabs tabs" data-group="primary">
    <a data-tab="trove"><div class="bottlecap-tab-text">{{localize "BC.bottleCapList.tabs.current"}} <i class="fas fa-hand-spock"></i></div></a>
    <a data-tab="graveyard"><div class="bottlecap-tab-text">{{localize "BC.bottleCapList.tabs.graveyard"}} <i class="fa-solid fa-champagne-glasses"></i><i class="fas fa-ghost"></i></div></a>
  </nav>
  <section class="bottlecap-list-container">
    <ol class="tab bottlecap-list" data-tab="trove">
      <li class="bottlecap-list-header flexrow">
        <div class="bottlecap-total">
          x{{bottleCapList.trove.length}}
        </div>
        <div class="bottlecap-select-player-container">
          {{localize "BC.bottleCapList.player"}}:
          {{#select currentUserId}}
            <select class="bottlecap-select-player">
              {{#each userData as |user|}}
                <option value="{{user.id}}">{{user.name}}</option>
              {{/each}}
            </select>
          {{/select}}
        </div>
        <div class="bottlecap-action-list bottlecap-create">
          <a class="bottlecap-action" data-action="create" data-tooltip="BC.config.tooltip.create"><i class="fas fa-plus"></i></a>
        </div>
      </li>
      {{#each bottleCapList.trove as |cap|}}
        <li class="bottlecap-list-item flexrow">
          <img class="bottlecap-thumb" src="{{cap.img}}">
          <div class="bottlecap-name flexcol">
            <div class="bottlecap-name-text">
              {{cap.name}}
            </div>
            <div class="bottlecap-name-context">
              {{cap.context}}
            </div>
          </div>
          <div class="bottlecap-action-list">
            <a class="bottlecap-action" data-action="spend" data-cap-id="{{cap.id}}" data-tooltip="BC.config.tooltip.spend"><i class="fas fa-dice-d20"></i></a>&nbsp;
            <a class="bottlecap-action" data-action="edit" data-cap-id="{{cap.id}}" data-tooltip="BC.config.tooltip.edit"><i class="fas fa-edit"></i></a>&nbsp;
            <a class="bottlecap-action" data-action="delete" data-cap-id="{{cap.id}}" data-tooltip="BC.config.tooltip.delete"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{else}}
        <li class="bottlecap-list-item" style="text-align:center">
          <span>{{localize "BC.bottleCapList.noActiveCaps"}}</span>
        </li>
      {{/each}}
    </ol>
    <ol class="tab bottlecap-list" data-tab="graveyard">
      <li class="bottlecap-list-header flexrow">
        <div class="bottlecap-total">
          x{{bottleCapList.graveyard.length}}
        </div>
        <div class="bottlecap-select-player-container">
          {{localize "BC.bottleCapList.player"}}:
          {{#select currentUserId}}
            <select class="bottlecap-select-player">
              {{#each userData as |user|}}
                <option value="{{user.id}}">{{user.name}}</option>
              {{/each}}
            </select>
          {{/select}}
        </div>
        <div class="bottlecap-action-list"></div>
      </li>
      {{#each bottleCapList.graveyard as |cap|}}
        <li class="bottlecap-list-item flexrow">
          <img class="bottlecap-thumb" src="{{cap.img}}">
          <div class="bottlecap-name flexcol">
            <div class="bottlecap-name-text">
              {{cap.name}}
            </div>
            <div class="bottlecap-name-context">
              {{cap.context}}
            </div>
          </div>
          <div class="bottlecap-action-list">
            <a class="bottlecap-action" data-action="revivify" data-cap-id="{{cap.id}}" data-tooltip="BC.config.tooltip.revivify"><i class="fas fa-rotate-left"></i></a>&nbsp;
            <a class="bottlecap-action" data-action="edit" data-cap-id="{{cap.id}}" data-tooltip="BC.config.tooltip.edit"><i class="fas fa-edit"></i></a>&nbsp;
            <a class="bottlecap-action" data-action="delete" data-cap-id="{{cap.id}}" data-tooltip="BC.config.tooltip.delete"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{else}}
        <li class="bottlecap-list-item" style="text-align:center">
          <span>{{localize "BC.bottleCapList.noSpentCaps"}}</span>
        </li>
      {{/each}}
    </ol>
  </section>
</form>
